@import '../../stylesheets/base';

.toggle-button {
  @apply relative;
  @apply inline-flex items-center;

  > span {
    @apply flex-1;
    line-height: initial;
  }

  .label {
    @apply inline-flex items-center;

    .loading-spinner {
      @apply ml-2;
    }
  }

  .input,
  .button {
    @apply h-6 w-12;
    @apply m-0 p-0;
  }

  .input {
    @apply absolute;
    @apply transform;
    @apply -translate-y-1/2;
    @apply opacity-0;
    z-index: 1;

    &:not(:disabled) {
      @apply cursor-pointer;
    }
  }

  .button {
    @apply inline-block;
    @apply relative;
    @apply cursor-pointer;
    @apply rounded-2xl;
    background-color: rgba(128, 128, 128, 0.2);

    > span {
      @apply sr-only;
    }

    &,
    &:after {
      transition: all 0.2s ease-out;
    }

    &:after {
      @apply block;
      @apply bg-white;
      @apply rounded-2xl;
      @apply absolute top-1/2;
      left: 5%;
      @apply transform;
      @apply -translate-y-1/2;
      box-shadow: 1px 2px 6px -1px rgba(0, 0, 0, 0.3);
      content: '';
      height: 1.3rem;
      width: 1.3rem;
    }
  }

  &.checked {
    .button {
      background-color: #fbc308;

      &:after {
        left: 53%;
        box-shadow: -3px 2px 6px -1px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &.disabled {
    .button {
      @apply cursor-not-allowed;
      @apply opacity-20;
    }
  }

  &.full-width {
    @apply w-full;
  }

  &.simple {
    > span {
      @apply sr-only;
    }
  }

  &.small {
    .input,
    .button {
      height: 0.6rem;
      width: 1.2rem;
    }

    .button {
      &:after {
        height: 0.5rem;
        width: 0.5rem;
      }
    }
  }

  &.flip {
    @apply flex-row-reverse;

    > span {
      @apply mr-0 ml-4;
    }

    .input {
      @apply -translate-x-full;
    }
  }
}
