@import '../../stylesheets/base';

.subscription-maker {
  .input-field {
    &:not(:first-child) {
      @apply mt-4;
    }

    .text-input {
      > span {
        @apply flex-1;
      }

      input[type='text'] {
        width: 200px;
      }

      .error {
        @apply mt-4;

        .icon {
          @apply mr-2;
        }
      }
    }

    &.template {
      @apply flex items-start;

      .select {
        @apply flex-1;

        > div {
          @apply flex-1;
        }

        & + .remove {
          @apply ml-2;
          font-size: inherit;
          line-height: 2.25rem;
        }
      }
    }

    &.color {
      .color-picker {
        @apply flex items-center;
        @apply ml-4;

        .input {
          @apply ml-auto;
        }
      }
    }
  }
}
