@import '../../../../../stylesheets/base';

.label-info {
  @apply border border-solid rounded;
  @apply text-base;
  @apply text-center;
  @apply p-2;
  @apply w-max;
  @apply shadow-xl;
  background-color: #ffffff;
  border-color: #aaaaaa;
  color: #aaaaaa;
  max-width: 12rem;

  @include dark-mode() {
    background-color: #222222;
    border-color: #444443;
  }

  // .reason {
  //   @apply leading-6;
  // }

  .reason + .buttons {
    @apply mt-2;
  }

  .buttons {
    @apply w-full;

    &,
    .button {
      @apply flex items-center justify-center;
    }

    .button {
      color: #aaaaaa;
      font-size: 1rem;
      height: 1rem;
      width: 1rem;

      &:hover {
        color: #333333;

        @include dark-mode() {
          color: #ffffff;
        }
      }
    }

    > * + * {
      @apply ml-1;
    }

    a {
      @apply no-underline;
    }
  }
}
