@import '../../../stylesheets/base';

.label-item {
  @apply inline-flex items-center;
  @apply relative;
  @apply border border-solid rounded;
  border-color: #aaaaaa;
  @apply px-2 py-1;
  @apply text-sm;

  @include dark-mode() {
    border-color: #444443;
  }

  :global(.#{$lihkg-class-thread-heading-text}) & {
    @apply py-0;
  }

  .badge {
    @apply flex items-center justify-center;
    @apply absolute;
    @apply top-0 right-0;
    @apply transform;
    @apply translate-x-1/2 -translate-y-1/2;
    @apply text-xs;
    @apply p-1;
    @apply rounded-full;
    background-color: #aaaaaa;
    color: #fff;
    min-height: 1.5rem;
    min-width: 1.5rem;

    @include dark-mode() {
      background-color: #444443;
      color: #aaa;
    }
  }

  &:hover {
    & + .label-info-list {
      @include visible();
      @apply translate-y-2;
    }
  }
}

.label-info-list {
  @include hide-scrollbar();
  @include invisible();
  @apply transform;
  @apply translate-y-4;
  transition-property: opacity, transform, visibility;
  @apply duration-300;
  @apply max-h-32;
  @apply overflow-y-auto;
  z-index: 1;

  &:hover {
    @include visible();
    @apply translate-y-2;
  }
}
