@import '../../stylesheets/base';

.egg :global(#{$lihkg-selector-notice}) {
  $image-ratio: percentage(500 / 1024);
  $logo-margin: 0.5rem;
  $logo-size: 2rem;

  .slideshow {
    @apply relative;
    @apply inline-block;
    @apply w-full;
    @apply overflow-hidden;
    padding-top: $image-ratio;

    &:before, &:after {
      @apply absolute;
    }

    &:before {
      content: '';
      @apply top-0 right-0;
      @apply h-16 w-16;
      @apply p-2;
      @apply bg-no-repeat;
      background-image: (
        $image-logo,
        linear-gradient(225deg, #000, transparent 50%)
      );
      background-position: (
        calc(100% - #{$logo-margin}) $logo-margin,
        top right
      );
      background-size: (
        $logo-size,
        100%
      );
      z-index: 1;
    }

    &:after {
      content: attr(aria-label);
      @apply bottom-0 left-0;
      @apply w-full;
      @apply p-4;
      @apply box-border;
      @apply text-center text-white text-xl;
      @apply transform translate-y-full;
      @apply transition-transform;
      @apply duration-500;
      background-image: linear-gradient(transparent, #000);
    }

    &:hover {
      &:after {
        @apply translate-y-0;
      }
    }

    .image {
      @apply absolute top-0 left-0;
      @apply h-full w-full;
      @apply bg-center bg-cover;
      @apply transition-opacity;
      @apply duration-500;

      &:not(.active) {
        @apply opacity-0;
      }
    }
  }

  // hide original image
  img {
    @apply hidden;
  }
}
