@import '../stylesheets/base';

.screenshot {
  /** patch dark mode styles */
  @include dark-mode() {
    :global(#{$lihkg-selector-thread-title-bar}) {
      background-color: $color-black02;
    }
  }

  :global {
    #{$lihkg-selector-nav} {
      @apply h-auto;
      @apply leading-none;

      #{$lihkg-selector-thread-title-bar} {
        @apply flex-grow-0;
        padding: 1rem 1.5rem;
        border-bottom: 0.5px solid $color-grey03;

        @include dark-mode() {
          border-bottom-color: $color-grey08;
        }

        #{$lihkg-selector-thread-title-bar-left-column} {
          @apply items-center;
          @apply pl-0; // reset padding-left of the left column

          > a {
            @apply hidden;
          }

          > span {
            @apply leading-tight;
            @apply overflow-auto;
            @apply whitespace-normal;
            text-overflow: initial;

            @include mobile-mode() {
              @apply text-left;
            }
          }
        }

        #{$lihkg-selector-thread-title-bar-right-column} {
          margin-right: -0.7rem; // reset padding-right of the down vote button

          > *:not(#{$lihkg-selector-thread-title-bar-vote-button}) {
            @apply hidden;
          }
        }
      }
    }

    #{$lihkg-selector-quoted-image-enlarge-button} {
      @apply hidden;
    }
  }
}
