@mixin invisible() {
  @apply invisible;
  @apply opacity-0;
}

@mixin visible() {
  @apply visible;
  @apply opacity-100;
}

@mixin hide-scrollbar() {
  /** chrome, safari, opera */
  &::-webkit-scrollbar {
    @apply hidden;
  }
  /** IE and Edge */
  -ms-overflow-style: none;
  /** firefox */
  scrollbar-width: none;
}

@mixin glow-box($blur-radius: 0.5rem, $spread-radius: 0.125rem, $color: rgba($color-black, 0.5)) {
  box-shadow: 0 0 $blur-radius $spread-radius $color;
}

@mixin glow-text($blur-radius: 0.5rem, $color: rgba($color-black, 0.5)) {
  text-shadow: 0 0 $blur-radius $color;
}

@mixin reset-list() {
  @apply list-none;
  @apply m-0;
  @apply p-0;
}
