@import '../../../../stylesheets/base';

.subscription {
  @apply flex items-center justify-start flex-wrap;

  .bar {
    @apply w-1;
    @apply self-stretch;
    @apply rounded-sm;
    background-color: #444443;
  }

  .name {
    @apply flex-1;
    @apply break-all;

    @screen md {
      @apply max-w-md;
    }

    > a {
      color: #333333;

      @include dark-mode() {
        color: #ffffff;
      }
    }
  }

  .icon-button {
    @apply inline-flex items-center justify-center;
    @apply h-4 w-4;
    font-size: 1em;
  }

  > * + * {
    @apply ml-2;
  }
}
