@import '../../stylesheets/base';

.egg {
  @apply relative;
  @apply inline-block;
  @apply bg-center bg-cover bg-no-repeat;
  background-image: $image-tiananmen-tank-man;

  &:before {
    @apply absolute;
  }

  // logo
  &:before {
    content: '';
    @include logo();
    z-index: 1;
  }

  // caption
  @include caption();
}
