@import '../../stylesheets/base';

.text-input {
  @apply flex items-start;

  $height: 2.25rem;

  > span {
    @apply mr-4;
    line-height: $height;
  }

  .input {
    @apply relative;
    @apply rounded;
    @apply border border-solid;
    @apply text-base;
    @apply text-current;
    background-color: #fff;
    border-color: #d9d9d9;
    height: $height;
    padding: 0.4em;

    @include dark-mode() {
      background-color: #151515;
      border-color: #3b3a39;
    }

    &:focus {
      outline: 1px solid #fbc308;

      @include dark-mode() {
        outline: 1px solid rgba(251, 195, 8, 0.6);
      }
    }

    &.error {
      border-color: #fb0808;

      @include dark-mode() {
        border-color: #fb0808;
      }
    }
  }
}
