@import '../../stylesheets/base';

.egg :global(#{$lihkg-selector-notice}) {
  @apply relative;

  .container {
    @apply relative;
    @apply inline-block;
    @apply overflow-hidden;
    @apply w-full;

    &:before,
    &:after {
      @apply absolute;
    }

    // logo
    &:before {
      content: '';
      @include logo();
      z-index: 1;
    }

    // caption
    &:after {
      content: attr(aria-label);
      @apply right-0 bottom-0 left-0;
      @apply p-4;
      @apply box-border;
      @apply text-center text-white text-xl;
      @apply transform translate-y-full;
      @apply transition-transform;
      @apply duration-500;
      background-image: linear-gradient(transparent, #000);
      z-index: 1;
    }

    &:hover {
      &:after {
        @apply translate-y-0;
      }
    }

    .slideshow {
      @apply absolute top-0 left-0;
      @apply h-full w-full;
    }
  }

  .hidden {
    @apply absolute left-0;
    @apply transition-opacity;
    @apply duration-500;
    @apply opacity-0;
    @apply pointer-events-none;
  }
}
