@import '../../stylesheets/base';

.label-info {
  @apply border border-solid rounded;
  @apply text-base;
  @apply text-center;
  @apply p-2;
  @apply w-max;
  background-color: $color-white;
  border-color: $color-grey05;
  color: $color-grey05;
  max-width: 12rem;

  @include dark-mode() {
    background-color: $color-black02;
  }

  .reason + .buttons {
    @apply mt-2;
  }

  .buttons {
    @apply w-full;

    &,
    .button {
      @apply flex items-center justify-center;
    }

    .button {
      color: $color-grey05;
      font-size: 1rem;
      height: 1rem;
      width: 1rem;

      &:hover {
        color: $color-grey09;

        @include dark-mode() {
          color: $color-white;
        }
      }
    }

    > * + * {
      @apply ml-1;
    }

    a {
      @apply no-underline;
    }
  }
}
