@import '../../stylesheets/base';

.footer {
  @apply flex;
  @apply h-12;
  background-color: #fff;
  border-top: solid 1px #e0e0e0;
  color: #000;

  @include dark-mode() {
    background-color: #222;
    border-top-color: #444443;
    color: #fff;
  }

  a,
  button,
  input[type='button'],
  input[type='submit'] {
    @apply flex-1;
    @apply bg-transparent;
    @apply border-0;
    @apply text-center;
    @apply text-base text-current;

    // &:not(:disabled) {
    //   @apply cursor-pointer;
    // }

    &:focus,
    &:hover {
      background-color: rgba(128, 128, 128, 0.1);

      @include dark-mode() {
        background-color: #3f3f3f;
      }
    }
  }
}
