@import '../../stylesheets/base';

.header {
  @apply flex items-center;
  @apply pl-4;
  height: 3rem;
  background-color: $color-white;
  border-bottom: solid 1px $color-grey02;
  color: $color-black;

  @include dark-mode() {
    background-color: $color-black02;
    border-bottom-color: $color-grey06;
    color: $color-white;
  }

  .title {
    @apply text-base font-normal;
    @apply flex-1;
    @apply m-0;
    @include text-ellipsis();
  }

  .close {
    @apply text-base;
    @apply ml-4;
    height: 3rem;
    width: 3rem;

    &:focus,
    &:hover {
      background-color: rgba($color-grey10, 0.1);
    }
  }
}
