@import '../../stylesheets/base';

.modal {
  @apply flex items-center justify-center;
  z-index: 100;

  &,
  .backdrop {
    @apply fixed top-0 left-0;
    @apply h-full w-full;
  }

  .backdrop {
    background-color: rgba($color-grey11, 0.5);

    @include dark-mode() {
      background-color: rgba($color-black, 0.5);
    }
  }

  .inner {
    @apply flex flex-col flex-nowrap;
    @apply rounded;
    @apply relative;
    @apply overflow-hidden;
    background-color: $color-white01;
    box-shadow: 0 4px 8px rgba($color-black, 0.2);
    max-height: 80vh;

    @include dark-mode() {
      background-color: $color-black01;
    }
  }
}
