@import './base';

/**
 * override
 */
:global {
  .#{$lihkg-class-reply-item} {
    @apply overflow-visible;
  }

  .#{$lihkg-class-right-panel-container} {
    @apply relative;
  }
}

// Handover of Hong Kong (https://en.wikipedia.org/wiki/Handover_of_Hong_Kong)
.handover-of-hong-kong :global(#leftPanel) {
  @apply relative;

  &:before {
    content: '';
    @apply fixed top-0 left-0;
    @apply h-full w-full;
    @apply filter;
    --tw-drop-shadow: drop-shadow(0 0 1rem black);
    @apply opacity-30;
    @apply bg-center bg-contain bg-no-repeat;
    background-image: $image-black-bauhinia;

    @screen md {
      width: 30%;
      min-width: 300px;
      max-width: 480px;
    }

    @include dark-mode() {
      @apply opacity-10;
    }
  }
}
