@import '../../../../stylesheets/base';

.subscription {
  @apply flex flex-wrap items-center justify-start;

  .name {
    @apply flex items-center justify-between;
    @apply flex-1;

    > a {
      @apply relative;
      @apply flex;
      color: $color-grey09;

      @include dark-mode() {
        color: $color-white;
      }

      @screen md {
        max-width: 250px;
      }

      > span {
        @include text-ellipsis();
      }

      .theme-bar {
        @apply absolute;
        @apply -bottom-1 left-0;
        height: 2px;
        @apply w-full;
        @apply rounded-sm;
      }
    }

    .status {
      @apply ml-2;

      &.error {
        color: $color-red02;
      }

      &.loading {
        @apply flex-shrink-0;
      }
    }
  }

  .icon-button {
    @apply inline-flex items-center justify-center;
    @apply h-4 w-4;
    font-size: 1em;
  }

  > * + * {
    @apply ml-2;
  }
}
