@import '../../stylesheets/base';

.container {
  &:empty {
    @apply hidden;
  }

  // when it is inside thread item inner {
  :global(#{$lihkg-selector-thread-item-inner}) > & {
    @apply mb-2;
    @apply ml-5;
  }

  // when it is inside the reply item inner
  :global(#{$lihkg-selector-reply-item-inner}) > & {
    @apply mb-2;
  }

  // // when it is beside the nickname
  // :global(#{$lihkg-selector-nickname}) ~ & {
  //   @apply ml-4 mr-2;
  // }

  // when it is inside the user card modal
  :global(#{$lihkg-selector-modal}) & {
    @apply mt-4;

    .label-list {
      @apply justify-center;
    }
  }
}

.label-list {
  @apply flex flex-wrap items-center;
  @apply list-none;
  @apply text-base;
  @apply -m-1;
  @apply p-0;

  > li {
    @apply m-1;
  }
}

.label-item {
  @apply relative;

  .badge {
    @apply flex items-center justify-center;
    @apply absolute;
    @apply top-0 right-0;
    @apply transform;
    @apply translate-x-1/2 -translate-y-1/2;
    @apply text-xs;
    @apply p-1;
    @apply rounded-full;
    background-color: #aaaaaa;
    color: #fff;
    min-height: 1.5rem;
    min-width: 1.5rem;

    @include dark-mode() {
      background-color: #444443;
      color: #aaa;
    }
  }
}
