$color-grey01: #f2f2f2;
$color-grey02: #e0e0e0;
$color-grey03: #d9d9d9;
$color-grey04: #cccccc;
$color-grey05: #aaaaaa;
$color-grey06: #444443;
$color-grey07: #3f3f3f;
$color-grey08: #3b3a39;
$color-grey09: #333333;
$color-grey10: #808080;
$color-grey11: #a0a0a0;

$color-white01: #f6f6f6;

$color-black01: #292827;
$color-black02: #222222;
$color-black03: #151515;

$color-blue01: #3498db;
$color-blue02: #2574a9;

$color-red01: #fb0808;

$color-yellow01: #fbc308;

$color-white: #ffffff;
$color-black: #000000;
