$image-721-yuen-long-mtr: url('/assets/images/721/yuen-long-mtr.jpg');
$image-black-bauhinia: url('/assets/images/Black_Bauhinia.svg');
$image-logo: url('/assets/logos/libel.png');
$image-tiananmen-tank-man: url('/assets/images/tiananmen-tank-man/tiananmen-tank-man.jpg');
