$height: 2.25rem;

.label {
  @apply mr-4;
  line-height: $height;
}

.input {
  height: $height;

  &:disabled {
    @apply cursor-not-allowed;
    @apply opacity-20;
  }
}

.error {
  @apply mt-2;

  .icon {
    @apply mr-2;
  }
}
