@import '../../../stylesheets/base';

.label-item {
  @apply inline-flex items-center;
  @apply relative;
  @apply m-1 px-2 py-1;
  @apply border border-solid rounded;
  border-color: #aaaaaa;
  @apply text-sm;

  @include dark-mode() {
    border-color: #444443;
  }

  :global(.#{$lihkg-class-thread-heading-text}) & {
    @apply py-0;
  }

  // &:before {
  //   content: attr(aria-label);
  // }

  &:hover > i {
    display: inline;
  }

  &:focus-within,
  &:hover {
    > .label-info {
      @apply visible;
      @apply opacity-100;
      @apply bottom-full;
    }
  }
}
