$lihkg-selector-app: unquote('#app');
$lihkg-selector-left-panel: unquote('#leftPanel');
$lihkg-selector-nav-category: unquote('._2k_IfadJWjcLJlSKkz_R2-._1LG9rEYF-ZGy3DZIlht7wo > ._3V1lN0nDwZVDoc14rz7D8w');
$lihkg-selector-nav: unquote('._2QLPqUPPLd8fXI2JwZuY7A._2TGjRqy4HZOetvEnAViFOg');
$lihkg-selector-notice: unquote('.notice');
$lihkg-selector-split-view: unquote('#splitView');
