@import '../../stylesheets/base';

.container {
  @apply cursor-default;

  &:empty {
    @apply hidden;
  }
}

.snipe-button {
  color: #aaa;
  font-size: 1.2rem;

  &:hover {
    color: #000;

    @include dark-mode() {
      color: #fff;
    }
  }

  &:hover {
    @apply no-underline;
  }
}
