@import '../../../../stylesheets/base';

@mixin invisible() {
  @apply invisible;
  @apply opacity-0;
}

@mixin visible() {
  @apply visible;
  @apply opacity-100;
}

.label-item {
  @apply inline-flex items-center;
  @apply relative;
  @apply px-2 py-1;
  @apply border border-solid rounded;
  border-color: #aaaaaa;
  @apply text-sm;

  @include dark-mode() {
    border-color: #444443;
  }

  :global(.#{$lihkg-class-thread-heading-text}) & {
    @apply py-0;
  }

  &:hover {
    & + .label-info {
      @include visible();
      @apply translate-y-0;
    }
  }
}

.label-info {
  @include invisible();
  @apply translate-y-2 transform;
  transition-property: opacity, transform, visibility;
  @apply duration-300;
  @apply py-2;
  z-index: 1;

  &:hover {
    @include visible();
    @apply translate-y-0;
  }
}
