@import '../../stylesheets/base';

.container {
  @apply cursor-default;

  &:empty {
    @apply hidden;
  }
}

.add-label-button {
  font-size: 1em;

  &:focus,
  &:hover {
    color: $color-black;

    @include dark-mode() {
      color: $color-white;
    }
  }
}
