@use 'sass:math';
@import '../../stylesheets/base';

.label-item {
  @apply relative;
  @apply pl-3;
  color: $color-grey05;

  $height: 30px;

  // when it is inside thread item inner {
  :global(#{$lihkg-selector-thread-item-inner}) & {
    color: $color-grey12;

    .inner {
      border-color: $color-grey12;
      border-left-color: transparent;
    }

    &:before {
      border-color: $color-grey12;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }

    &:after {
      border-color: $color-grey12;
    }
  }

  .inner {
    @apply flex items-center;
    @apply relative;
    @apply px-3;
    @apply border-solid border;
    border-color: $color-grey05;
    border-left-color: transparent;
    @apply rounded;
    @apply text-sm;
    height: $height;
  }

  &:before {
    /**
     * given a*a + b*b = c*c, and a = b = $size, c = $height
     * => a*a + a*a = 30*30
     * => 2(a*a) = 900
     * => a*a = 450
     * => a = math.sqrt(450)
     */
    $height-raw: $height / 1px;
    $size: #{math.sqrt(math.div(math.pow($height-raw, 2), 2))}px;
    content: '';
    @apply absolute;
    @apply top-0 -left-2;
    @apply block;
    height: $size;
    width: $size;
    @apply border-solid border;
    border-color: $color-grey05;
    border-right-color: transparent;
    border-bottom-color: transparent;
    @apply rounded-sm rounded-tl;
    @apply transform;
    @apply origin-top-right;
    --tw-translate-x: 1px;
    @apply -rotate-45;
  }

  &:after {
    content: '';
    @apply absolute;
    @apply top-1/2 left-2;
    @apply h-1 w-1;
    @apply border-solid border;
    @apply rounded-full;
    @apply transform;
    @apply -translate-y-1/2;
    border-color: $color-grey05;
  }
}
