@import '../../stylesheets/base';

.container {
  :global(.#{$lihkg-class-nickname}) ~ & {
    @apply ml-2;
  }
}

.label-book {
  @apply inline-flex items-center justify-center;
  @apply relative;
  @apply px-2;
  @apply m-0 #{!important};
  min-height: 1rem;
  min-width: 1rem;
  z-index: 1;

  &:before,
  &:after {
    @apply absolute;
    @apply transform;
  }

  &:before,
  &:after {
    @apply inline-block;
    @apply h-full w-full;
    @apply top-0 left-0;
    @apply border border-solid rounded;
    background-color: #ffffff;
    border-color: #aaaaaa;
    content: '';
    
    @include dark-mode() {
      background-color: #1d1d1d;
      border-color: #444443;
    }
  }

  span {
    @apply relative;
    z-index: 1;
  }

  &:before {
    --tw-translate-x: 2px;
    --tw-translate-y: -2px;
  }
}
