@import '../../../stylesheets/base';

.footer {
  @apply block;
  @apply opacity-50;
  @apply px-4;
  padding-top: 0.8rem;
}

.info {
  @apply flex items-center justify-between;
  @apply mt-2;

  a {
    color: $color-grey09;
    text-decoration: underline;

    @include dark-mode() {
      color: $color-white;
    }

    + a {
      @apply ml-2 pl-2;
      border-left: solid 1px $color-grey09;

      @include dark-mode() {
        border-color: $color-white;
      }
    }
  }
}
